*{
	margin: 0px;
	padding: 0px;
}

li{
	list-style: none;
}
a{
	cursor: pointer;
	text-decoration: none;
	color: #333;
}
i{
	font-style: normal;
}
em{
	font-style: normal;
}
body{
	background-color: #f5f5f5;
}
body,textarea,select,input,button{
	font-size: 12px;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
}
textarea{
	outline: none;
}
input{
	outline: none;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}
span{
	cursor: pointer;
}
textarea{
	resize: none;
	overflow: auto;
}
.m-playbar .list li:hover .col, .m-playbar .list li:hover .col a, .m-playbar .list li:hover .col a:hover, .m-playbar .list li.z-sel .col, .m-playbar .list li.z-sel .col a, .m-playbar .list li.z-sel .col a:hover{
	color: #fff;
}
.bg-banner{
	background: url(~assets/img/banner.png) 0 9999px no-repeat;
}
.bg-top,.icn,.arr{
	background: url(~assets/img/toplist.png) no-repeat 0 9999px ;
}
.logo,.search,.hot,.cor{
		background-image: url(~assets/img/topbar.png);
}
.u-slg, .u-slg2, .u-slg3, .u-blg, .u-mlg, .u-mlg2, .u-errlg{
	background: url(~assets/img/logo.png) no-repeat 0 9999px;
}
.bg-index{
	background: url(~assets/img/index.png) no-repeat 0 9999px;
}
.bg-iconall{
	background: url(~assets/img/iconall.png) no-repeat;
}
.bg-cover{
	background: url(~assets/img/coverall.png) no-repeat;
}
.bg-bill{
	background: url(~assets/img/index_bill.png) no-repeat;
}
.bg-playbar{
	background: url(~assets/img/playbar.png) no-repeat 0 9999px;
}
.bg-icon{
	background: url(~assets/img/icon.png) no-repeat 0 9999px;
}
.u-btn2,.u-btn2 i,.u-btn2 .icn,.u-btni,.u-btni i,.u-tag,.u-tag i,.u-btni-addply .ply{
	background: url(~assets/img/button2.png) no-repeat 0 9999px;
}
.u-btn, div.u-page a, div.u-page a.js-selected, div.u-page a.znxt.js-disabled, div.u-page a.zprv.js-disabled{
	background: url(~assets/img/button.png) no-repeat 0 9999px;
}
.section-title .u-btn-hot .a1, .section-title .u-btn-new .a2, .section-title .u-btn-area .a2, .section-title .u-btn-song .a1{
	color: #fff;
}
.m-radio .rditype .turn, .m-radio .rditype .dot{
	background: url(~assets/img/radio_slide.png) no-repeat;
}
.u-icn3, .u-hot, .u-hot i{
	background: url(~assets/img/table.png);
}
.u-icn,.u-title-1 .out .icon{
	background: url(~assets/img/icon.png) no-repeat 0 9999px;
}
.u-icn2{
	background: url(~assets/img/icon2.png) no-repeat 0 9999px;
}
.s-bg,.v-hd2,.n-disk li{
	background: url(~assets/img/index.png) no-repeat 0 9999px;
}
.u-sort .desc, .u-sort .asc, .u-goon .close, .m-table-program .last{
	background: url(~assets/img/cnt_radio.png) no-repeat 0 9999px;;
}
.u-date, .u-date .mask{
	background: url(~assets/img/date.png) no-repeat 0 9999px;
}
.n-srch .pgsrch, .n-srch .pgsrch .btn{
	background: url(~assets/img/sprite.png) no-repeat 0 9999px;
}
.m-tabs, .m-tabs a, .m-tabs em, .m-tabs1 a, .m-tabs1 em{
	background: url(~assets/img/tab.png) no-repeat 0 9999px;
}
.n-iconpoint div.tip{
	background: url(~assets/img/top_m.png) 0 0 repeat-y;
}
.f-r-black-icon{
	background: url(~assets/img/black-r-icon@3x.png);
}
.n-srchrst .srchsongst .hd .ply, .n-srchrst .srchsongst .mv, .n-srchrst .srchsongst .icn, .m-plylist-rdi .icn, .n-srchrst .srchsongst .mv-dis{
	background: url(~assets/img/table.png) no-repeat 0 9999px;
}
.m-record .ply, .m-record span.icn{
	background: url(~assets/img/table.png) no-repeat 0 9999px;
}
.n-lv .h3 em, .n-lv .divnum li.z-on, .n-pow .telist li, .n-level i, .n-level-big i{
	background: url(~assets/img/mylevel.png) no-repeat 0 9999px;
}
.u-dicn, .u-dtag, .u-dtag .rt{
	background: url(~assets/img/frd_dyn_sprite.png) 0 9999px no-repeat;
}
.u-slg, .u-slg2, .u-slg3, .u-blg, .u-mlg, .u-mlg2, .u-importlg, .u-errlg{
	display: inline-block;
	vertical-align: middle;
}
.g-bd4,.rank-detail,.rank,.songlist,.dj-radio,.new-album,.dj-detail,.dj-program,.searchs{
	display: flex;
	width: 980px;
	min-height: 700px;
	margin: 0 auto;
	border: 1px solid #d3d3d3;
	border-width: 0 1px;
}
.g-wrap{
	padding: 40px;
}
.g-wrap6{
	padding: 47px 30px 40px 39px;
}
.g-wrap7{
	padding: 20px 40px 40px 30px;
}
.g-sd6{
	position: relative;
	float: left;
	width: 184px;
}
.msg-wrap{
	background: #fff;
	min-height: 700px;
}
.f-brk{
	word-wrap: break-word;
	word-break: break-word;
	white-space: normal;
}
.f-hide{
	display: none !important;
}
.f-left{
		float: left;
}
.f-pr{
	position: relative;
	zoom: 1;
}
.f-fr{
	float: right;
}
.f-fs1{
	font-size: 14px;
}
.f-brk{
	word-wrap: break-word;
	word-break: break-word;
	white-space: normal;
}
.f-pa{
	position: absolute;
}
.f-tid{
	text-indent: -9999px;
}
.f-cb::after{
	clear: both;
	content: '';
	display: block;
	height: 0;
	visibility: hidden;
}
.f-thide2{
	-webkit-line-clamp: 2;
}
.f-fw1{
	font-weight: bold;
}
.u-btn2-2{
	color: #fff;
	background-position: right -428px; 
}
.u-btn-3{
	width: 64px;
	height: 27px;
	background-position: 0 -990px;
	line-height: 27px;
}
.u-btn-3 i{
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding-left: 26px;
	color: #5d5d5d;
	cursor: pointer;
}
.u-btn-5{
	width: 81px;
	height: 31px;
	background-position: 0 -955px;
}
.u-btn-5 i{
	display: inline-block;
	height: 29px;
	line-height: 29px;
	padding-left: 25px;
	color: #666;
}
.u-btn-6, .u-btn-ygz{
	width: 70px;
	height: 31px;
	background-position: 0 -919px;
}
.u-btn-6 i, .u-btn-ygz i{
	display: inline;
	height: 30px;
	line-height: 30px;
	padding-left: 26px;
	color: #666;
}
.u-btn-7{
	width: 75px;
	height: 31px;
	background-position: 0 -810px;
}
.u-btn-7 i{
	display: inline-block;
	height: 29px;
	line-height: 29px;
	padding-left: 30px;
}
.u-btn-8{
	width: 40px;
	height: 31px;
	padding-left: 30px;
	background-position: 0 -720px;
	color: #fff;
	line-height: 30px;
}
.n-log2-2 .u-btn2-2 i, .n-log2-3 .u-btn2-2 i{
	width: 180px;
}
.u-btn2{
	padding: 0 5px 0 0;
	white-space: nowrap;
}
.u-btn2,.u-btn2 i{
	display: inline-block;
	height: 31px;
	line-height: 31px;
	overflow: hidden;
	vertical-align: top;
	text-align: center;
	cursor: pointer;
}
.u-btni-playall{
	background-position: right -2325px;
}
.u-btni-playall i{
	background-position: 0 -2285px;
	padding-left: 30px;
}
.u-btni-share i, .u-btni-fav i, .u-btni-cmmt i, .u-btni-dl i, .u-btni-unfav i{
	padding-right: 2px;
	padding-left: 28px;
}
.btns{
	margin-bottom: 25px;
	margin-right: -10px;
}
.u-btni-addply{
	float: left;
}
.u-btn2-2 i{
	color: #fff;
	background-position: 0 -387px;
}
.u-btni-addply i{
	padding: 0 7px 0 8px;
}
.u-btni-addply .ply{
	float: left;
	width: 20px;
	height: 18px;
	margin: 6px 2px 2px 0;
	background-position: 0 -1622px;
	overflow: hidden;
}
.u-btni{
	margin-right: 6px;
}
.btns .u-btni-add{
	margin-right: 5px;
}
.u-btni-add{
	width: 31px;
	margin-left: -3px;
	padding-right: 0;
	background-position: 0 -1588px;
}
.u-btni{
	color: #333;
	padding: 0 5px 0 0;
}
.u-btni,.u-btni i{
	float: left;
	height: 31px;
	line-height: 30px;
	min-width: 23px;
	cursor: pointer;
}
.u-btni i{
	padding: 0 7px 0 36px;
}
.u-btni-share,.u-btni-fav,.u-btni-cmmt,.u-btni-dl{
	background-position: right -1020px;
}
.u-btni-share i,.u-btni-fav i,.u-btni-cmmt i,.u-btni-dl i,.u-btni-unfav i{
	padding-right: 2px;
	padding-left: 28px;
}
.u-btni-fav i{
	background-position: 0 -977px;
}
.u-btni-share i{
	background-position: 0 -1225px;
}
.u-btni-dl i{
	background-position: 0 -2761px;
}
.u-btni-cmmt i{
	background-position: 0 -1465px;
}
.u-btni-share i{
	background-position: 0 -1225px;
}
.u-btni-dy, .u-btni-dy i{
	height: 28px;
	overflow: hidden;
	line-height: 29px;
}
.u-btni-dy{
	background-position: right -2400px;
}
.u-btni-dy i{
	padding: 0 10px;
	background-position: 0 -2370px;
}
.u-icn2-dy, .u-icn2-ydy{
	width: 14px;
	height: 14px;
	background-position: -50px 0;
}
.u-btni-dy .u-icn2{
	float: left;
	margin: 7px 4px 0 0;
}
.u-btni-play{
	color: #fff;
	background-position: right -676px;
}
.u-btni-play i{
	color: #fff;
	background-position: right -633px;
}
.u-btn2 i{
	padding: 0 15px 0 20px;
}
.u-btn2 .icn-praise, .u-btn2 .icn-praised{
	width: 17px;
	height: 15px;
	margin: 8px 6px 0 0;
	background-position: 0 -95px;
}
.s-fc3 a.s-fc3:hover{
	color: #666;
}
.s-fc4, a.s-fc4:hover{
	color: #999;
}
.s-fc6, a.s-fc6:hover{
	color: #c20c0c;
}
.s-fc7,a.s-fc7:hover{
	color: #0c73c3;
}
.s-fc8,a.s-fc8:hover{
	color: rgb(174,174,174);
}
.s-fc9,a.s-fc9:hover{
	color: rgb(187,33,40);
}
.m-info .cover{
	float: left;
	position: relative;
	display: inline;
	margin: 0 -220px 0 0;
}
.m-info .cnt{
	float: right;
	width: 100%;
}
.m-info .cntc{
	margin-left: 230px;
}
.m-info .topblk{
	margin-bottom: 20px;
}
.m-info .tit{
	margin-left: 64px;
	position: relative;
}
.m-info .hd{
	position: relative;
	margin: 0 0 12px;
	line-height: 24px;
}
.m-info .hd h2{
	line-height: 24px;
	font-size: 20px;
	font-weight: normal;
}
.m-info .user{
	margin: 0 0 20px;
	line-height: 35px;
}
.m-info .user .face, .m-info .user .face img{
	float: left;
	width: 35px;
	height: 35px;
}
.m-info .user .face{
	margin-right: 10px;
}
.m-info .user .name{
	float: left;
}
.m-info .user .u-icn2-music2{
	float: left;
	margin: 11px 0 0 3px;
}
.u-icn2-music2{
	width: 12px;
	height: 13px;
	background-position: -110px -190px;
}
.m-info .btns2 .u-btni, .m-info .btns .u-btni{
	margin-right: 6px;
}
.m-info .intr{
	margin-top: 4px;
	line-height: 18px;
	color: #666;
}
.
.m-info .intr .cat{
	margin-right: 7px;
}
.m-info b{
	font-weight: normal;
	color: #666;
}
.m-info .intr b{
	display: inline-block;
}
.m-table th,.m-table th .wp,.m-table td,.m-table .ply,.m-table .mv,.m-table .icn,.mus-info .edit{
	background: url(~assets/img/table.png) no-repeat 0 9999px;
}
.m-table{
	width: 100%;
	border: 1px solid #d9d9d9;
}
.m-table-2{
	border-collapse: separate;
	border-spacing: 0;
	border: 0;
}
.m-table b{
	font-weight: normal;
}
.m-table .w1{
	width: 74px;
}
.m-table .w2{
	width: 111px;
}
.m-table .w3{
	width: 13%;
}
.m-table .w4{
	width: 20%;
}
.m-table .w6{
	width: 78px;
}
.m-table .w7{
	width: 50px;
}
.m-table .w9{
	width: 96px;
}
.m-table .w11{
	width: 35px;
	padding-right: 0;
	padding-left: 25px;
}
.m-table th{
	height: 38px;
	background-color: #f7f7f7;
	background-position: 0 0;
	background-repeat: repeat-x;
	vertical-align: top;
	text-align: left;
	font-weight: normal;
	color: #666;
}
.m-table td{
	padding: 6px 10px;
	line-height: 18px;
	text-align: left;
}
.m-table tbody tr:nth-child(odd){
	background-color: #F7F7F7;
}
.m-table th.first .wp{
	background: none;
}
.m-table th .wp{
	height: 18px;
	line-height: 18px;
	padding: 8px 10px;
	background-position: 0 -56px;
}
.m-table .af0::after{
	content: '\6b4c \66f2 \6807 \9898';
}
.m-table .af1::after{
	content: '\65f6 \957f';
}
.m-table .af2::after{
	content: '\6b4c \624b';
}
.m-table .af3::after{
	content: '\4e13 \8f91';
}
.m-table .hd{
	height: 18px;
}
.m-table .hd .num{
	width: 25px;
	margin-left: 5px;
	color: #999;
}
.m-table .ply{
	display: inline-block;
	float: left;
	width: 17px;
	height: 17px;
	cursor: pointer;
	background-position: 0 -103px;
}
.m-table .tt{
	float: left;
	width: 100%;
}
.m-table .ttc{
	height: 18px;
	margin-right: 20px;
}
.m-table .txt{
	position: relative;
	display: inline-block;
	padding-right: 25px;
	margin-right: -25px;
	max-width: 99%;
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.m-table .txt a:hover{
	text-decoration: underline;
}
.m-table .text{
	width: 100%;
	position: relative;
	zoom: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.m-table .txt .u-icn2-music2{
	margin-top: -1px;
}
.m-table .icn,.m-table .mv{
	float: left;
	width: 18px;
	height: 16px;
	margin: 2px 0 0 4px;
	overflow: hidden;
	text-indent: -999px;
}
.m-table .icnfix{
	top: 2px;
	right: auto;
	margin-left: 5px;
	z-index: 10;
}
.u-btn-g{
	width: 75px;
	height: 26px;
	background-position: 0 -64px;
	text-align: center;
	line-height: 26px;
}
.u-icn2-music2{
	width: 12px;
	height: 12px;
	background-position: -110px -190px;
}
.u-icn-s-01{
	width: 14px;
	height: 15px;
	background-position: -70px -20px;
}
.u-icn-s-02{
	width: 14px;
	height: 15px;
	background-position: -70px 0;
}
.u-icn-01{
	width: 20px;
	height: 20px;
	background-position: -41px -57px;
}
.u-icn2-1{
	width: 22px;
	height: 22px;
	background-position: 0 0
}
.u-icn2-2, .u-icn2-3, .u-icn2-4{
	width: 22px;
	height: 22px;
	background-position: -25px 0;
}
.u-icn2-3{
	background-position: 0 -25px;
}
.u-icn2-4{
	background-position: -25px -25px;
}
.u-icn2-5{
	width: 18px;
	height: 18px;
	background-position: 0 -50px;
}
.u-btn{
	display: inline-block;
}
.n-log2-2 .u-btn2-2, .n-log2-3 .u-btn2-2{
	width: 215px;
}
.u-title{
	height: 40px;
	border-bottom: 2px solid #c20c0c;
}
.u-title .sub{
	float: left;
}
.u-title h3{
	float: left;
	font-size: 24px;
	font-weight: normal;
}
.u-title .tab{
	float: left;
	margin: 12px 0 0 20px;
}
.u-title .tab a{
	color: #666;
}
.u-title .tab .line{
	margin: 0 10px;
	color: #C7C7C7;
}
.u-title .tab-r{
	float: right;
}
.u-title .out{
	margin-right: 20px;
}
.u-cover{
	position: relative;
	display: block;
}
.u-cover .msk{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.u-cover-3{
	width: 50px;
	height: 50px;
}
.u-cover-3 .msk{
	background-position: -160px 0;
}
.u-cover-5{
	width: 130px;
	height: 130px;
}
.u-cover-5 .msk{
	background-position: 0 -680px;
}
.u-cover-6{
	width: 198px;
	height: 198px;
}
.u-type{
	display: inline-block;
	position: relative;
	top: -1px;
	height: 16px;
	overflow: hidden;
	padding: 0 6px;
	border: 1px solid #999;
	line-height: 16px;
	color: #999;
	vertical-align: middle;
	font-size: 12px;
}
.u-type-red{
	color: #cc0000;
	border-color: #cc0000;
}
.u-icn-1{
	width: 11px;
	height: 13px;
	background-position: 0 1px;
	font-size: 100%;
	font-style: normal;
}
.u-icn,.u-inc2,.u-icn3{
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
}
.u-icn-5{
	width: 17px;
	height: 18px;
	background-position: 0 -740px;
}
.u-icn2-7{
	width: 73px;
	height: 24px;
	background-position: 0 -75px;
}
.u-icn2-8{
	width: 16px;
	height: 17px;
	background-position: -50px -20px;
}
.u-icn-44, .u-icn-45, .u-icn-46, .u-icn-47{
	width: 22px;
	height: 21px;
	background-position: -64px -164px;
}
.u-icn-21{
	width: 64px;
	height: 50px;
	background-position: 0 -347px;
}
.u-icn-45{
	background-position: -64px -193px;
}
.u-icn-46{
	background-position: -64px -245px;
}
.u-icn-47{
	background-position: -58px -400px;
}
.u-icn-57{
	width: 13px;
	height: 13px;
	background-position: -18px -682px;
}
.u-icn-72,.u-icn-73, .u-icn-74{
	width: 6px;
	height: 6px;
	background-position: -74px -274px;
}
.u-icn-74{
	background-position: -74px -324px;
}
.u-icn-75{
	width: 16px;
	height: 17px;
	background-position: -67px -283px;
}
.u-icn-69, .u-icn-70{
	width: 11px;
	height: 8px;
	background-position: -65px -520px;
}
.u-icn-70{
	background-position: -45px -520px;
}
.u-icn-81{
	width: 13px;
	height: 13px;
	background-position: 0 -700px;
}
.u-icn-93{
	width: 55px;
	height: 24px;
	background-position: 0 -1014px;
}
.u-icn-95{
	width: 16px;
	height: 16px;
	background-position: -34px -863px;
}
.u-icn2-17{
	width: 7px;
	height: 4px;
	background-position: -260px -450px;
}
.u-icn2-9{
	width: 9px;
	height: 5px;
	background-position: -75px -29px;
}
.u-icn2-12, .u-icn2-13{
	display: inline-block;
	width: 15px;
	height: 14px;
	background-position: -150px 0;
}
.u-icn-25{
	width: 14px;
	height: 14px;
	background-position: -50px -270px;
}
.u-icn-26, .u-icn-27, .u-icn-28, .u-icn-29{
	width: 14px;
	height: 15px;
	background-position: -35px -300px;
}
.u-icn-27{
	background-position: -50px -300px;
}
.u-icn-28{
	background-position: -35px -320px;
}
.u-icn-29{
	background-position: -50px -320px;
}
.m-cvrlst li{
	float: left;
	display: inline-block;
	width: 140px;
	height: 188px;
	overflow: hidden;
	padding: 0 0 30px 50px;
	line-height: 1.4;
}
.m-cvrlst .play-li p{
	width: 100%;
}
.m-cvrlst .play-li .dec{
	margin: 8px 0 3px;
	font-size: 14px;
}
.m-cvrlst .play-li .tit{
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
}
.m-cvrlst-alb2 li,.m-cvrlst-alb3 li{
	width: 153px;
	height: 178px;
}
.s-bg-2{
	background-position: 0 -195px;
}
.s-bg-11{
	background-position: -267px -268px;
}
.s-bg-12{
	background-position: -297px -268px;
}
.u-btni-sub{
	background-position: right -2163px; 
	color: #fff;
}
.u-btni-sub i{
	background-position: 0 -2125px;
	padding-left: 30px;
}
.u-outlink{
	float: left;
	margin-left: 16px;
	margin-top: 7px;
}
.v-hd2{
	height: 33px;
	padding: 0 10px 0 34px;
	background-position: -225px -156px;
	border-bottom: 2px solid #c10d0c;
}
.v-hd4{
	position: relative;
	height: 23px;
	margin: 0 20px;
	border-bottom: 1px solid #ccc;
	color: #333;
}
.v-hd4 a{
	float: right;
}
.v-hd4 .more{
	font-weight: normal;
	margin: 0;
	line-height: 23px;
}
.v-hd2 .tit{
	float: left;
	font-size: 20px;
	font-weight: normal;
	line-height: 28px;
}
.u-icn2-lev{
	background-position: -135px -190px;
}
.u-lev{
	display: inline-block;
	height: 19px;
	overflow: hidden;
	padding-left: 29px;
	line-height: 21px;
	color: #e03a24;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
}
.u-lev i{
	float: right;
}
.u-icn2-levr{
	width: 9px;
	height: 19px;
	background-position: -191px -190px;
}
.u-bub{
	display: block;
	position: relative;
	width: 22px;
	height: 22px;
	color: #fff;
	text-align: center;
	line-height: 23px;
	font-weight: bold;
}
.u-bub b{
	position: absolute;
	top: 0;
	left: 0;
	height: 22px;
	width: 22px;
	background: url(~assets/img/bub.png) no-repeat;
}
.u-bub em{
	float: none;
	display: block;
	position: relative;
	text-align: center;
	z-index: 2;
}
.u-dtag, .u-dtag .rt{
	position: relative;
	display: inline-block;
	height: 16px;
	height: 16px;
	font-size: 12px;
}
.u-dtag{
	color: #e03f40;
	padding: 0 2px 0 3px;
	background-position: -110px 0;
	line-height: 16px;
}
.u-dtag .rt{
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 3px;
	background-position: right 0;
}
.u-hd3{
	position: relative;
	height: 23px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	color: #333;
}